# Data & ML
numpy
pandas
scikit-learn
matplotlib
seaborn

# Deep learning
torch
tensorflow
keras
albumentations

# Computer vision
opencv-python
Pillow

# AWS
boto3
kaggle

# App
streamlit

# Utilities
jupyter
python-dotenv
tqdm
